body { background: #000; color: #fff; font-family: sans-serif; margin: 0; padding-bottom: 120px; }
.header { background: #111; padding: 15px; position: sticky; top: 0; z-index: 10; border-bottom: 1px solid #333; }
.search-box { display: flex; gap: 10px; }
input { flex: 1; padding: 12px; border-radius: 8px; border: 1px solid #444; background: #222; color: #fff; outline: none; }
button { background: #00ff88; border: none; padding: 0 20px; border-radius: 8px; font-weight: bold; cursor: pointer; color: #000; }

.results { padding: 15px; }
.card { display: flex; align-items: center; background: #161616; padding: 10px; border-radius: 12px; margin-bottom: 10px; border: 1px solid #222; }
.card img { width: 50px; height: 50px; border-radius: 6px; margin-right: 15px; }
.card b { display: block; color: #00ff88; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.card span { color: #888; font-size: 13px; }

.player { position: fixed; bottom: 0; width: 100%; background: #000; padding: 15px; border-top: 1px solid #00ff88; box-sizing: border-box; }
.track-info { display: flex; align-items: center; gap: 12px; margin-bottom: 10px; }
.track-info img { width: 45px; height: 45px; border-radius: 4px; }
audio { width: 100%; height: 35px; filter: invert(1) hue-rotate(90deg); }
